

.Checking {
    text-align: start;
    font-size: 14px;
    border: 2px solid palevioletred;
    width: 520px;
    background-color: rgba(255, 192, 203, .3);
    margin-top: 15px;
    padding: 5px;
    box-sizing: border-box;
}

.Checking hr {
    border-color: palevioletred;
}