

.TError {
    text-align: start;
    font-size: 14px;
    border: 2px solid rgb(0, 0, 0);
    width: 520px;
    background-color: rgba(193, 193, 193, 0.3);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
}

.TError hr {
    border: 1px dashed;
    border-color: rgb(0,0,0);
}

